@font-face {
    font-family: 'PressStart2P';
    src: url('PressStart2P.ttf') format('truetype');
    text-align: center;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'PressStart2P', sans-serif;

    background-blend-mode: multiply;
    background-image: url("../img/background.jpg");
    background-color: white;
    background-size: cover;
}


.view>p {
    font-size: 10vmin;
    text-align: center;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

:root {
    --button-padding-size: 2vw;
}

#Play>div, #Menu>div {
    padding: var(--button-padding-size);

    height: calc(100vh - var(--button-padding-size) * 2);
    width: calc(100vw - var(--button-padding-size) * 2);

    display: grid;
    grid-gap: var(--button-padding-size);
    /* grid-template-columns: repeat(4, auto); */
    /* grid-template-rows: repeat(2, auto); */
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #404040;
    font-size: 25vmin;

    background-color: #ececec;
    border: 10px solid #404040;
    border-radius: 30px;

    box-shadow: 4px 4px #222;

    filter: brightness(100%);    
}

.buttons.buttons_active {
    filter: brightness(70%);

    transform: translateY(4px) translateX(4px);
    box-shadow: 0px 0px #222;
}

.button_small>div {
    height: 100%;
    width: 100%;

    background-repeat: no-repeat;
    background-position: center;
}

#button_x>div {
    background-image: url("../img/knife.png");
    background-size: 80%;
}

#button_b>div>div {
    background-color: red;    
}

#button_b>div {
    mask: url("../img/tackle.png");

    mask-mode: alpha;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 80%;

    -webkit-mask: url("../img/tackle.png");

    -webkit-mask-mode: alpha;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 80%;
}

#button_a,#button_a_menu {
    font-variant: small-caps;
}

:root {
    --arrow-size: 5vw;
    --arrow-color: #404040;
}


.arrow-right {
    width: 0; 
    height: 0; 
    border-top: var(--arrow-size) solid transparent;
    border-bottom: var(--arrow-size) solid transparent;
    
    border-left: var(--arrow-size) solid var(--arrow-color);
  }
  
  .arrow-left {
    width: 0; 
    height: 0; 
    border-top: var(--arrow-size) solid transparent;
    border-bottom: var(--arrow-size) solid transparent; 
    
    border-right:var(--arrow-size) solid var(--arrow-color); 
  }